<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "scaffold"%>
  
  <%= csrf_meta_tag %>
</head>
<body>
<%= link_to "Sign in with Twitter", "/auth/twitter" %>

<%= yield %>

</body>
</html>
